@model MagazinOnlineImbracaminte.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(modelItem => Model.Name)</h1>

<section class="currentProduct">
    <figure class="displayPhoto">
        <img src="@Model.Image" asp-append-version="true" style="width : 100%; height: 100%;" />
    </figure>

    <section class="displayDetails">
        <span>@Model.Price lei</span>
        <br>
        @if (Model.InStock == true)
        {
            <span>In Stoc</span>
            <br>
            <span>@Model.QuantityInStock produse ramase</span>
        }
        else
        {
            <span>Produsul nu se afla in stoc!</span>
        }
    </section>

    @{
        int i=1;
    }
    <form>
        <label for="action">Cantitate:</label>

        <select name="action" id="quantitySelect">
            @for (i = 1; i <= Model.QuantityInStock; i++)
            {
                <option value=@i>@i</option>

            }
        </select>

        <div>@Html.ActionLink("Adauga in cos", "AddProductToCartAsync", "Carts", new { ProductId = Model.ProductId }, null)</div>
    </form>
</section>
